@import url("https://fonts.googleapis.com/css2?family=BioRhyme:wght@300;400;700&family=Cormorant:wght@500;600;700&family=Lato:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,400;0,500;1,500&family=Mulish:ital,wght@0,400;0,500;1,300;1,500&family=Ovo&family=Ubuntu:ital,wght@0,500;1,300;1,400&display=swap");
/* ------font family----------- */
@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }
  80% {
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
@keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }
  80% {
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  80% {
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  80% {
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(5rem);
            transform: translateY(5rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(5rem);
            transform: translateY(5rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

::-moz-selection {
  background-color: #4e54c8;
  color: #fff;
}

::selection {
  background-color: #4e54c8;
  color: #fff;
}

body {
  font-family: 'lato';
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  padding: 3rem;
  width: 100wh;
}

@media only screen and (max-width: 75em) {
  body {
    padding: 0;
    line-height: 1.4;
  }
}

@media only screen and (max-width: 56.25em) {
  body {
    padding: 0;
    line-height: 1.3;
  }
}

@media only screen and (max-width: 37.5em) {
  body {
    padding: 0;
    line-height: 1.2;
    overflow-x: hidden;
  }
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  background-image: -webkit-gradient(linear, left top, right top, from(#4e54c8), to(#8f94fb));
  background-image: linear-gradient(to right, #4e54c8, #8f94fb);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  text-align: center;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

@media only screen and (max-width: 75em) {
  .heading-secondary {
    letter-spacing: 0.2rem;
  }
}

@media only screen and (max-width: 56.25em) {
  .heading-secondary {
    letter-spacing: 0.2rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .heading-secondary {
    letter-spacing: 0.1rem;
  }
}

.heading-secondary:hover {
  -webkit-transform: skewY(-3deg) skewX(5deg);
          transform: skewY(-3deg) skewX(5deg);
  text-shadow: 0 0 rgba(0, 0, 0, 0.2);
}

.heading-tertiary {
  color: #333;
  font-family: "Mulish";
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: .5rem;
}

.h-text {
  color: #ffff;
  text-transform: uppercase;
  font-size: 1.8rem;
  padding: 0.7rem;
  display: inline-block;
  font-weight: 100;
}

.h-text-1 {
  position: absolute;
  bottom: 5rem;
  right: 1rem;
  background: -webkit-gradient(linear, left top, right bottom, from(#ff4b14ea), to(#ff9068fb));
  background: linear-gradient(to right bottom, #ff4b14ea, #ff9068fb);
}

.h-text-2 {
  position: absolute;
  bottom: 5rem;
  right: 1rem;
  background: -webkit-gradient(linear, left top, right bottom, from(#4e54c88c), to(#8f94fb60));
  background: linear-gradient(to right bottom, #4e54c88c, #8f94fb60);
}

.h-text-3 {
  position: absolute;
  bottom: 6rem;
  right: 2rem;
  background: -webkit-gradient(linear, left top, right bottom, from(#004e92), to(#000428));
  background: linear-gradient(to right bottom, #004e92, #000428);
}

.paragraph {
  color: #333;
  font-size: 1.7rem;
}

.paragraph:not(:last-child) {
  margin-bottom: 3rem;
}

@media only screen and (max-width: 75em) {
  .paragraph {
    font-size: 1.8rem;
  }
}

@media only screen and (max-width: 75em) {
  .paragraph {
    font-size: 1.9rem;
  }
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navigation {
  overflow-x: hidden;
}

.navigation-checkbox {
  display: none;
}

.navigation-checkbox:checked ~ .navigation-background {
  -webkit-transform: scale(80);
          transform: scale(80);
}

.navigation-checkbox:checked ~ .navbar {
  width: 100%;
  opacity: 1;
}

.navigation-button {
  cursor: pointer;
  height: 7rem;
  width: 7rem;
  background-color: #f7f7f7;
  position: fixed;
  top: 4rem;
  right: 6rem;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  z-index: 200;
}

.navigation-background {
  position: fixed;
  height: 6rem;
  width: 6rem;
  top: 4.5rem;
  right: 6.5rem;
  border-radius: 50%;
  z-index: 100;
  background-image: radial-gradient(#4e54c8, #8f94fb);
  -webkit-transition: all 0.4s cubic-bezier(0.86, 0, 0.07, 1);
  transition: all 0.4s cubic-bezier(0.86, 0, 0.07, 1);
}

.navigation .navbar {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 0;
  opacity: 0;
  z-index: 150;
  -webkit-transition: all 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  transition: all 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}

.navigation-list {
  text-align: center;
  list-style: none;
}

.navigation-item {
  margin-top: 1rem;
}

.navigation-link {
  text-transform: uppercase;
  display: inline-block;
  color: #f7f7f7;
  text-decoration: none;
  font-size: 2.5rem;
  padding: 0.5rem 3rem;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #f7f7f7 50%);
  background-size: 230%;
  -webkit-transition: 0.4s all;
  transition: 0.4s all;
}

.navigation-link:hover, .navigation-link:active {
  -webkit-transform: translateX(1rem);
          transform: translateX(1rem);
  background-position: 100%;
  color: #4e54c8;
}

.navigation-icon {
  position: relative;
}

.navigation-icon, .navigation-icon::before, .navigation-icon::after {
  left: 0;
  height: 2px;
  width: 2.8rem;
  background-color: #333;
  display: inline-block;
}

.navigation-icon::before, .navigation-icon::after {
  content: "";
  position: absolute;
  -webkit-transition: all .4s linear;
  transition: all .4s linear;
}

.navigation-icon::before {
  top: -0.8rem;
}

.navigation-icon::after {
  top: 0.7rem;
}

.navigation-button:hover .navigation-icon::before {
  top: -1rem;
}

.navigation-button:hover .navigation-icon::after {
  top: 1rem;
}

.navigation-checkbox:checked + .navigation-button .navigation-icon {
  background-color: transparent;
}

.navigation-checkbox:checked + .navigation-button .navigation-icon::before {
  top: 0;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.navigation-checkbox:checked + .navigation-button .navigation-icon::after {
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  top: 0;
}

.header {
  width: 100%;
  position: relative;
  height: 95vh;
  background: -webkit-gradient(linear, left top, right bottom, from(#4e54c88c), to(#8f94fb60)), url("/img/mountains.jpg");
  background: linear-gradient(to right bottom, #4e54c88c, #8f94fb60), url("/img/mountains.jpg");
  background-position: top;
  background-size: cover;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
}

@media only screen and (max-width: 75em) {
  .header {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  }
}

@media only screen and (max-width: 56.25em) {
  .header {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  }
}

@media only screen and (max-width: 37.5em) {
  .header {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
  }
}

.header .logo-box {
  position: absolute;
  top: 0px;
  left: 0px;
}

.header .logo {
  height: 108px;
}

.heading-primary {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  text-transform: uppercase;
  font-family: 'Montserrat', 'sans-serif';
  text-align: center;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.heading-main {
  font-family: 'Montserrat', 'sans-serif';
  font-weight: 500;
  letter-spacing: 3rem;
  font-size: 5rem;
  text-align: left;
  -webkit-animation: moveInLeft 3s ease-in-out;
          animation: moveInLeft 3s ease-in-out;
}

@media only screen and (max-width: 75em) {
  .heading-main {
    letter-spacing: 2.8rem;
    font-size: 4.5rem;
  }
}

@media only screen and (max-width: 56.25em) {
  .heading-main {
    letter-spacing: 2.8rem;
    font-size: 4rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .heading-main {
    margin: 1rem 0;
    font-size: 3.5rem;
    letter-spacing: 2.5rem;
  }
}

.heading-sub-main {
  display: block;
  font-weight: 400;
  letter-spacing: 1.5rem;
  font-size: 2.4rem;
  -webkit-animation: moveInRight 3s ease-in-out;
          animation: moveInRight 3s ease-in-out;
}

@media only screen and (max-width: 75em) {
  .heading-sub-main {
    letter-spacing: 1rem;
    font-size: 2.2rem;
  }
}

@media only screen and (max-width: 56.25em) {
  .heading-sub-main {
    letter-spacing: 1rem;
    font-size: 2.2rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .heading-sub-main {
    letter-spacing: 0.9rem;
    font-size: 2rem;
  }
}

.main-heading {
  max-width: 100%;
  padding: 15rem 0;
  background-color: #f7f7f7;
  margin-top: -20vh;
}

@media only screen and (max-width: 75em) {
  .main-heading {
    padding: 18rem 0;
    padding-bottom: 35rem;
  }
}

@media only screen and (max-width: 56.25em) {
  .main-heading {
    padding: 18rem 0;
    padding-bottom: 35rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .main-heading {
    padding: 20rem 0;
    padding-bottom: 30rem;
  }
}

.main-about {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 75em) {
  .main-about {
    display: block;
  }
}

.main-about-left {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 2rem;
  margin: 3rem 5rem;
}

@media only screen and (max-width: 75em) {
  .main-about-left {
    display: block;
    padding: 2rem 0;
    width: 70%;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 56.25em) {
  .main-about-left {
    width: 80%;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 37.5em) {
  .main-about-left {
    width: 90%;
    margin: 0 auto;
  }
}

.main-about-images {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
  -webkit-transform: translate(0%, 40%);
          transform: translate(0%, 40%);
}

@media only screen and (max-width: 75em) {
  .main-about-images {
    position: relative;
    display: block;
    margin-top: 12rem;
  }
}

@media only screen and (max-width: 56.25em) {
  .main-about-images {
    margin-top: 12rem;
  }
}

.main-about-images img {
  width: 30rem;
}

@media only screen and (max-width: 75em) {
  .main-about-images img {
    width: 25rem;
    -webkit-transform: translate(120%, 10%);
            transform: translate(120%, 10%);
  }
}

@media only screen and (max-width: 56.25em) {
  .main-about-images img {
    width: 25rem;
    -webkit-transform: translate(110%, 10%);
            transform: translate(110%, 10%);
  }
}

@media only screen and (max-width: 37.5em) {
  .main-about-images img {
    width: 25rem;
    -webkit-transform: translate(20%, 10%);
            transform: translate(20%, 10%);
  }
}

.main-about-images .-photo {
  position: absolute;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.7);
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.7);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  outline-offset: 1.5rem;
}

.main-about-images .-photo:hover {
  z-index: 2;
  -webkit-transform: scale(1.05) translateX(-5px);
          transform: scale(1.05) translateX(-5px);
  -webkit-box-shadow: 0 4px 20px rgba(0, 0, 0, 0.7);
          box-shadow: 0 4px 20px rgba(0, 0, 0, 0.7);
  outline: 0.7rem solid #4e54c8;
}

.main-about-images .main-img-1 {
  left: 0;
  top: -10rem;
}

@media only screen and (max-width: 37.5em) {
  .main-about-images .main-img-1 {
    top: -10rem;
  }
}

.main-about-images .main-img-2 {
  left: 20rem;
  top: -6rem;
}

@media only screen and (max-width: 37.5em) {
  .main-about-images .main-img-2 {
    left: 10rem;
  }
}

.main-about-images .main-img-3 {
  left: 7rem;
  top: 2rem;
}

@media only screen and (max-width: 37.5em) {
  .main-about-images .main-img-3 {
    left: 4rem;
    top: 0;
  }
}

.main-about-images:hover .-photo:not(:hover) {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.section-features {
  margin-top: -9rem;
  width: 100%;
  padding: 12rem 0rem;
  background: -webkit-gradient(linear, left top, right bottom, from(#4e54c88c), to(#8f94fb60)), url("/img/img-5.jpg");
  background: linear-gradient(to right bottom, #4e54c88c, #8f94fb60), url("/img/img-5.jpg");
  background-position: top;
  background-size: cover;
  -webkit-transform: skewY(-7deg);
          transform: skewY(-7deg);
}

.section-features-cards {
  -webkit-transform: skewY(7deg);
          transform: skewY(7deg);
  margin: auto;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 75em) {
  .section-features-cards {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media only screen and (max-width: 56.25em) {
  .section-features-cards {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media only screen and (max-width: 37.5em) {
  .section-features-cards {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.section-features-card {
  color: #111;
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 255, 255, 0.778)), to(rgba(255, 255, 255, 0.562)));
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.778), rgba(255, 255, 255, 0.562));
  text-align: center;
  font-size: 1.5rem;
  padding: 3rem;
  margin: 2rem;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.section-features-card:hover {
  -webkit-transform: translateY(-5px) scale(1.03);
          transform: translateY(-5px) scale(1.03);
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 75em) {
  .section-features-card {
    width: 40%;
    padding: 4rem;
    margin: 2rem;
  }
}

@media only screen and (max-width: 56.25em) {
  .section-features-card {
    padding: 4rem;
    margin: 2rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .section-features-card {
    padding: 4rem;
    margin: 3rem;
    width: 100%;
  }
}

.section-features-icon {
  font-size: 5rem;
  margin: 1rem;
  background-image: -webkit-gradient(linear, left top, right top, from(#4e54c8), to(#8f94fb));
  background-image: linear-gradient(to right, #4e54c8, #8f94fb);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.showcase {
  padding-top: 10rem;
  margin-top: -10rem;
  padding-bottom: 8rem;
  width: 100%;
  background-color: #f7f7f7;
}

.showcase h2 {
  margin: 10rem 0;
}

.showcase .tourism {
  margin-top: 2rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5rem;
}

@media only screen and (max-width: 75em) {
  .showcase .tourism {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 3rem;
  }
}

.showcase .tourism .tour {
  position: relative;
  min-width: 350px;
  height: 450px;
  font-size: 1.8rem;
  color: #222;
  -webkit-perspective: 150rem;
          perspective: 150rem;
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
  margin-bottom: 2.5rem;
}

.showcase .tourism .tour:not(:last-child) {
  margin-right: 2.5rem;
}

@media only screen and (max-width: 75em) {
  .showcase .tourism .tour {
    min-width: 320px;
  }
}

@media only screen and (max-width: 56.25em) {
  .showcase .tourism .tour {
    min-width: 310px;
  }
}

@media only screen and (max-width: 37.5em) {
  .showcase .tourism .tour {
    min-width: 300px;
  }
  .showcase .tourism .tour:not(:last-child) {
    margin-left: 2.5rem;
  }
}

.showcase .tourism .tour-side {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 100%;
  border-radius: 5px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
  -webkit-box-shadow: 0 2px 40px rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 40px rgba(0, 0, 0, 0.3);
}

.showcase .tourism .tour-side-front {
  background: #fff;
}

.showcase .tourism .tour-side-back {
  color: #fff;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.showcase .tourism .tour-side-back-bg-1 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#ff4b14), to(#ff9068));
  background-image: linear-gradient(to bottom right, #ff4b14, #ff9068);
}

.showcase .tourism .tour-side-back-bg-2 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#4e54c8), to(#8f94fb));
  background-image: linear-gradient(to bottom right, #4e54c8, #8f94fb);
}

.showcase .tourism .tour-side-back-bg-3 {
  background: -webkit-gradient(linear, left top, right bottom, from(#004e92bd), to(#000428c4));
  background: linear-gradient(to bottom right, #004e92bd, #000428c4);
}

.showcase .tourism .tour:hover .tour-side-front {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.showcase .tourism .tour:hover .tour-side-back {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}

.showcase .tourism .tour .top {
  position: relative;
  height: 200px;
  border-radius: 5px 5px 0 0;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  background-position: top;
  background-size: center cover;
  background-repeat: no-repeat;
  background-blend-mode: screen;
}

.showcase .tourism .tour .top-bg-1 {
  background: -webkit-gradient(linear, left top, right bottom, from(#ec816063), to(#ff9068ab)), url("/img/card- (3).jpg");
  background: linear-gradient(to bottom right, #ec816063, #ff9068ab), url("/img/card- (3).jpg");
}

.showcase .tourism .tour .top-bg-2 {
  background: -webkit-gradient(linear, left top, right top, from(#4e54c88c), to(#8f94fb60)), url("/img/card- (1).jpg");
  background: linear-gradient(to right, #4e54c88c, #8f94fb60), url("/img/card- (1).jpg");
}

.showcase .tourism .tour .top-bg-3 {
  background: -webkit-gradient(linear, left top, right bottom, from(#004e92), to(#000428)), url("/img/card- (2).jpg");
  background: linear-gradient(to bottom right, #004e92, #000428), url("/img/card- (2).jpg");
}

.showcase .tourism .tour .middle {
  padding: 2rem;
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.showcase .tourism .tour .middle hr {
  width: 5px;
  width: 60%;
  margin: .6rem auto;
}

.btn {
  position: relative;
  display: inline-block;
  border-radius: 100px;
  outline: none;
  border: none;
  font-size: 1.6rem;
  font-weight: 100;
  padding: 1.5rem 4rem;
  margin: 1rem 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btn:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
  color: #333;
  text-transform: uppercase;
  background-color: #fff;
}

.btn-white::after {
  background-color: #fff;
}

.btn-blue {
  font-size: 1.6rem;
  color: #fff;
  text-transform: uppercase;
  background: -webkit-gradient(linear, left top, right top, from(#4e54c8), to(#8f94fb));
  background: linear-gradient(to right, #4e54c8, #8f94fb);
}

.btn-blue::after {
  background: -webkit-gradient(linear, left top, right top, from(#4e54c8), to(#8f94fb));
  background: linear-gradient(to right, #4e54c8, #8f94fb);
}

.btn-animated {
  -webkit-animation: moveInBottom 0.5s ease-out 0.75s;
          animation: moveInBottom 0.5s ease-out 0.75s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.btn::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 100px;
  display: inline-block;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.btn:hover::after {
  -webkit-transform: scaleX(1.5) scaleY(1.6);
          transform: scaleX(1.5) scaleY(1.6);
  opacity: 0;
}

.btn-text {
  color: #4e54c8;
  display: inline-block;
  border-bottom: 3px solid #8f94fb;
  padding: 3px;
  font-size: 1.6rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.btn-text:hover {
  color: #fff;
  background-color: #4e54c8;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.btn-text:active {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

.review {
  margin-top: -4rem;
  height: 100%;
  width: 100%;
  padding: 2rem;
  text-align: center;
  color: #222;
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 255, 255, 0.705)), to(rgba(255, 255, 255, 0.493))), url("/img/agency.jpg");
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.705), rgba(255, 255, 255, 0.493)), url("/img/agency.jpg");
}

.review-items {
  margin: 4rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.review-item {
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 255, 255, 0.678)), to(rgba(255, 255, 255, 0.562)));
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.678), rgba(255, 255, 255, 0.562));
  position: relative;
  width: 60%;
  padding: 3rem;
  margin: 1rem;
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -webkit-transform: skewX(-10deg);
          transform: skewX(-10deg);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media only screen and (max-width: 75em) {
  .review-item {
    width: 70%;
  }
}

@media only screen and (max-width: 56.25em) {
  .review-item {
    width: 80%;
  }
}

@media only screen and (max-width: 37.5em) {
  .review-item {
    width: 95%;
  }
}

.review-item figure {
  position: relative;
}

.review-item figure img {
  position: relative;
  width: 100px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  -webkit-transform: skewX(10deg);
          transform: skewX(10deg);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media only screen and (max-width: 37.5em) {
  .review-item figure img {
    width: 80px;
    height: 80px;
  }
}

.review-item-text {
  -webkit-transform: skewX(10deg);
          transform: skewX(10deg);
  margin: 0 1rem;
}

.review-caption {
  text-transform: uppercase;
  position: absolute;
  top: 10%;
  left: 50%;
  -webkit-transform: translate(-50%, 20%);
          transform: translate(-50%, 20%);
  font-size: 1.6rem;
  background-color: #fafbf9;
  font-weight: bold;
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media only screen and (max-width: 75em) {
  .review-caption {
    -webkit-transform: translate(-50%, 40%);
            transform: translate(-50%, 40%);
  }
}

@media only screen and (max-width: 75em) {
  .review-caption {
    -webkit-transform: translate(-50%, 70%);
            transform: translate(-50%, 70%);
  }
}

.review-item:hover img {
  -webkit-filter: blur(3px);
          filter: blur(3px);
}

.review-item:hover .review-caption {
  opacity: 1;
  -webkit-backface-visibility: none;
          backface-visibility: none;
}

.section-book {
  padding: 15rem;
  width: 100%;
  background: -webkit-gradient(linear, left top, right bottom, from(#4e54c8), to(#8f94fb));
  background: linear-gradient(to right bottom, #4e54c8, #8f94fb);
}

@media only screen and (max-width: 37.5em) {
  .section-book {
    padding: 5rem;
  }
}

.book-form {
  background: linear-gradient(105deg, rgba(255, 255, 255, 0.85) 0%, rgba(255, 255, 255, 0.85) 50%, transparent 50%), url("/img/img-1.jpg");
  width: 100%;
  height: 50rem;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  background-size: cover;
}

@media only screen and (max-width: 75em) {
  .book-form {
    background: linear-gradient(105deg, rgba(255, 255, 255, 0.85) 0%, rgba(255, 255, 255, 0.85) 70%, transparent 70%), url("/img/img-1.jpg");
  }
}

@media only screen and (max-width: 56.25em) {
  .book-form {
    background: linear-gradient(105deg, rgba(255, 255, 255, 0.95) 0%, rgba(255, 255, 255, 0.95) 100%, transparent 100%), url("/img/img-1.jpg");
  }
}

@media only screen and (max-width: 37.5em) {
  .book-form {
    background: linear-gradient(105deg, rgba(255, 255, 255, 0.95) 0%, rgba(255, 255, 255, 0.95) 100%, transparent 100%), url("/img/img-1.jpg");
  }
}

.heading-book {
  padding-bottom: 2rem;
  text-align: left;
}

@media only screen and (max-width: 75em) {
  .heading-book {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 56.25em) {
  .heading-book {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .heading-book {
    font-size: 3rem;
    text-align: center;
  }
}

.form {
  font-size: 1.6rem;
  padding: 5rem 3rem;
  margin: 1rem;
}

.form-input {
  display: block;
  border: none;
  font-size: 1.6rem;
  font-family: inherit;
  padding: 1.4rem 2rem;
  border-radius: 3px;
  width: 30rem;
  margin: 0.5rem 0rem;
  border-bottom: 3px solid transparent;
  outline: none;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

@media only screen and (max-width: 75em) {
  .form-input {
    width: 70%;
  }
}

@media only screen and (max-width: 56.25em) {
  .form-input {
    width: 80%;
  }
}

@media only screen and (max-width: 37.5em) {
  .form-input {
    width: 100%;
  }
}

.form-input:focus {
  border-bottom: 3px solid  darkblue;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
}

.form-input::-webkit-input-placeholder {
  font-size: 1.6rem;
  color: #999;
  font-family: 'lato';
}

.form-input:-ms-input-placeholder {
  font-size: 1.6rem;
  color: #999;
  font-family: 'lato';
}

.form-input::-ms-input-placeholder {
  font-size: 1.6rem;
  color: #999;
  font-family: 'lato';
}

.form-input::placeholder {
  font-size: 1.6rem;
  color: #999;
  font-family: 'lato';
}

.form-input:focus:invalid {
  border-bottom: 3px solid red;
}

.form-label {
  display: block;
  font-family: inherit;
  color: #999;
  font-size: 1.6rem;
  margin-left: 2rem;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.form-input:placeholder-shown + .form-label {
  -webkit-transform: translateY(-4rem);
          transform: translateY(-4rem);
  opacity: 0;
  visibility: hidden;
}

.form-radio {
  margin: 0rem 0.5rem;
  display: inline-block;
  font-size: 1.9rem;
  color: #333;
  margin-bottom: 2rem;
}

.form-radio-input {
  display: none;
  margin: 1rem;
}

.form-radio-label {
  position: relative;
  padding-left: 1rem;
  cursor: pointer;
  margin: 0 2rem;
}

.form-radio-btn {
  position: absolute;
  left: 0;
  top: -0.5rem;
  border: 4px solid #4e54c8;
  display: inline-block;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.form-radio-btn::after {
  content: "";
  display: block;
  height: 1.4rem;
  width: 1.4rem;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #4e54c8;
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.form-radio-input:checked ~ .form-radio-label .form-radio-btn::after {
  opacity: 1;
}

.footer {
  background-color: #333;
  font-size: 1.6rem;
}

.footer-logo-box {
  text-align: center;
  margin-bottom: 1rem;
}

.footer-logo {
  height: 15rem;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 2rem 4rem;
}

@media only screen and (max-width: 75em) {
  .footer-container {
    display: block;
    text-align: center;
  }
}

.footer .hr {
  width: 80%;
  border-top: 1px solid #eee;
  border-radius: 5px;
}

@media only screen and (max-width: 75em) {
  .footer .hr {
    margin: .2rem auto;
    width: 100%;
  }
}

.footer-nav {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.footer-list {
  margin-right: 2rem;
  padding-top: 2rem;
  display: inline-block;
}

.footer-item {
  display: inline-block;
  margin-right: 1.5rem;
}

.footer-link {
  color: #f7f7f7;
  text-transform: uppercase;
  display: inline-block;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.footer-link:hover, .footer-link:active {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  color: #0f7268;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
  -webkit-transform: rotate(5deg) scale(1.03);
          transform: rotate(5deg) scale(1.03);
}

.footer-copyright {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 1.6rem;
  color: #f7f7f7;
  font-family: 'lato';
  width: 80%;
  padding-top: 2rem;
  display: inline-block;
}

/* SOCIAL PANEL CSS */
.social-panel-container {
  position: fixed;
  right: 0;
  bottom: 80px;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
}

.social-panel-container.visible {
  -webkit-transform: translateX(-10px);
          transform: translateX(-10px);
}

.social-panel {
  background-color: #fff;
  border-radius: 16px;
  -webkit-box-shadow: 0 16px 31px -17px rgba(0, 31, 97, 0.6);
          box-shadow: 0 16px 31px -17px rgba(0, 31, 97, 0.6);
  border: 5px solid #4e54c8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Ubuntu";
  position: relative;
  height: 169px;
  width: 42rem;
  max-width: calc(100% - 10px);
}

.social-panel button.close-btn {
  border: 0;
  color: #8f94fb;
  font-size: 20px;
  position: absolute;
  top: 5px;
  right: 5px;
}

.social-panel button.close-btn:focus {
  outline: none;
}

.social-panel p {
  background-color: #4e54c8;
  border-radius: 0 0 10px 10px;
  color: #fff;
  font-size: 14px;
  line-height: 18px;
  padding: 2px 17px 6px;
  position: absolute;
  top: 0;
  left: 50%;
  margin: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
  width: 25.5rem;
}

.social-panel p i {
  margin: 0 5px;
}

.social-panel p a {
  color: #FF7500;
  text-decoration: none;
}

.social-panel h4 {
  margin: 20px 0;
  color: #97A5CE;
  font-family: 'Muli';
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.social-panel ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.social-panel ul li {
  margin: 0 10px;
}

.social-panel ul li a {
  border: 1px solid #DCE1F2;
  border-radius: 50%;
  color: #4e54c8;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 5rem;
  width: 5rem;
  text-decoration: none;
}

.social-panel ul li a:hover {
  border-color: #FF6A00;
  -webkit-box-shadow: 0 9px 12px -9px #FF6A00;
          box-shadow: 0 9px 12px -9px #FF6A00;
}

.floating-btn {
  border-radius: 26.5px;
  background-color: #4e54c8;
  border: 1px solid #4e54c8;
  -webkit-box-shadow: 0 16px 22px -17px #03153B;
          box-shadow: 0 16px 22px -17px #03153B;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  line-height: 20px;
  padding: 12px 20px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #f7f7f7 50%);
  background-size: 230%;
  -webkit-transition: 0.4s all;
  transition: 0.4s all;
}

.floating-btn:hover, .floating-btn:active {
  -webkit-transform: translateX(1rem);
          transform: translateX(1rem);
  background-position: 100%;
  color: #4e54c8;
}

.floating-btn:focus {
  outline: none;
}

.floating-text {
  background-color: #4e54c8;
  border-radius: 10px 10px 0 0;
  color: #fff;
  font-family: 'Muli';
  padding: 7px 15px;
  position: fixed;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.floating-text a {
  color: #FF7500;
  text-decoration: none;
}

@media screen and (max-width: 900px) {
  .social-panel-container.visible {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  .floating-btn {
    right: 10px;
  }
}
