.navigation{
    overflow-x: hidden;
    &-checkbox{
        display: none;
    }
    &-checkbox:checked ~ &-background{
        transform: scale(80);
    }
    &-checkbox:checked ~ .navbar{
        width: 100%;
        opacity: 1;
    }


    &-button{
        cursor: pointer;
        height: 7rem;
        width: 7rem;
        background-color: #f7f7f7;
        position: fixed;
        top: 4rem;
        right: 6rem;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 1rem 3rem rgba(0,0,0,0.1);
        z-index: 200;
    }

    &-background{
        position: fixed;
        height: 6rem;
        width: 6rem;
        top: 4.5rem;
        right: 6.5rem;
        border-radius: 50%;
        z-index: 100;
        background-image: radial-gradient($color-primary-blue,  $color-primary-blue-light);
        transition: all 0.4s  cubic-bezier(0.86, 0, 0.07, 1);
    }

    .navbar{
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 0;
        opacity: 0;
        z-index: 150;
        transition: all 0.8s cubic-bezier(0.86, 0, 0.07, 1);

    }

    &-list{
        text-align: center;
        list-style: none;
    }

    &-item{
        margin-top: 1rem;
    }

    &-link{
        text-transform: uppercase;
        display: inline-block;
        color: #f7f7f7;
        text-decoration: none;
        font-size: 2.5rem;
        padding: 0.5rem 3rem;

        background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #f7f7f7 50%);
        background-size: 230%;
        transition: 0.4s all;

        &:hover,
        &:active {
            transform: translateX(1rem);
            background-position: 100%;
            color: $color-primary-blue;
        }
    }

    &-icon{
        position: relative;
        &,
        &::before,
        &::after {
            left: 0;
            height: 2px;
            width: 2.8rem;
            background-color: #333;
            display: inline-block;
        }
        &::before,
        &::after{
            content: "";
            position: absolute;
            transition: all .4s linear;
        }
        &::before{top: -0.8rem;};
        &::after{top: 0.7rem;};
    }

    &-button:hover &-icon::before{
        top: -1rem;
    }

    &-button:hover &-icon::after{
        top: 1rem;
    }

    &-checkbox:checked + &-button &-icon{
        background-color: transparent;
    }

    &-checkbox:checked + &-button &-icon::before{
        top: 0;
        transform: rotate(135deg);
    }

    &-checkbox:checked + &-button &-icon::after{
        transform: rotate(-135deg);
        top: 0;
    }

}