.btn{
    display: inline-block;
    border: none;
    outline: none;
    padding: 1rem 1.5rem;
    text-align: center;
    cursor: pointer;
    color: #fff;
    font-size: 1.6rem;

    &-primary{
        border: 1px solid #111;
        border-radius: 10px;
        color: #111;
        &:not(:first-child){
            margin-top: 2rem;
            margin-bottom: 2rem;
        }
    }

    &-dark{
        width:20rem;
        display: inline-block;
        background-color: #111;
        font-size: 1.4rem;
    }
}