.footer{
    background-color: #333;
    font-size: 1.6rem;

    &-logo-box{
        text-align: center;
        margin-bottom: 1rem;
    }

    &-logo{
        height: 15rem;
    }

    &-container{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        padding: 2rem 4rem;

        @include respond(tab-land){
            display: block;
            text-align: center;
         }
    }

    .hr {
        width: 80%;
        border-top: 1px solid #eee;
        border-radius: 5px;
        
        @include respond(tab-land){
            margin: .2rem auto;
            width: 100%;
        }
    }

    &-nav{
        flex: 2;
    }

    &-list{
        margin-right: 2rem;
        padding-top: 2rem;
        display: inline-block;
    }

    &-item{
        display: inline-block;
        margin-right: 1.5rem;
    }

    &-link{
        color: #f7f7f7;
        text-transform: uppercase;
        display: inline-block;
        transition: all 0.3s;

        &:hover,
        &:active{
            backface-visibility: hidden;
            color: #0f7268;
            box-shadow: 0 1rem 2rem rgba(0,0,0,0.4);
            transform: rotate(5deg) scale(1.03);
        }
    }

    &-copyright{
        flex: 1;
        font-size: 1.6rem;
        color: #f7f7f7;
        font-family: 'lato';
        width: 80%;
        padding-top: 2rem;
        display: inline-block;
        // border-top: 1px solid #eee;
    }
}
