*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    @include respond(tab-land){
        font-size: 56.5%;
    }
    @include respond(phone){ 
        font-size: 50%;
    }
}
img{
    font-size: 0;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none ;
}

body{
    width: 100vw;
    overflow-x: hidden;
    font-family: $ff-poppins;
    letter-spacing: 2px;
}