@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400&family=Poppins:ital,wght@0,200;0,300;0,400;0,700;1,500&family=Roboto:wght@300;400;500&display=swap');

$ff-lato: 'Lato', sans-serif;
$ff-poppins: 'Poppins', sans-serif;
$ff-roboto: 'Roboto', sans-serif;

// bgcolors
$bg-primary-pink-dark: rgb(255,175,204);
$bg-primary-pink: rgb(255,200,221);
$bg-primary-blue: rgb(189,224,254);
$bg-primary-blue-dark: rgb(162,210,255);
// $bg-primary-skin:#feebb6;
$bg-primary-skin: #fcf8e8;

$color-secondary: #3b86db;