@import url('https://fonts.googleapis.com/css2?family=BioRhyme:wght@300;400;700&family=Cormorant:wght@500;600;700&family=Lato:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,400;0,500;1,500&family=Mulish:ital,wght@0,400;0,500;1,300;1,500&family=Ovo&family=Ubuntu:ital,wght@0,500;1,300;1,400&display=swap');

 $color-grey-light-1: #f7f7f7;

    $color-primary-blue-op: #4e54c88c;
    $color-primary-blue-light-op: #8f94fb60;
    $color-primary-blue: #4e54c8;
    $color-primary-blue-light: #8f94fb;

    /* ------font family----------- */
    $ff-bioRhyme: 'BioRhyme';
    $ff-cormorant: 'Cormorant';
    $ff-lato: 'Lato';
    $ff-mulish: 'Mulish';
    $ff-ubunto: 'Ubuntu';
    $ff-montserrat: 'Montserrat';